.custom-file .custom-file-label:lang(en)::after {
    content: "Selecionar arquivo";
}

/*when a value is selected, this class removes the content */
.custom-file-control.selected:lang(en)::after {
    content: "" !important;
}

body {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.row {
    margin-bottom: 1rem;
}

.matrix {
    position: relative;
    table-layout: fixed;
}

.matrix:before, .matrix:after {
    content: "";
    position: absolute;
    top: 0;
    border: 1px solid #000;
    width: 6px;
    height: 100%;
}

.matrix:before {
    left: -6px;
    border-right: 0;
}

.matrix:after {
    right: -6px;
    border-left: 0;
}

.matrix tr td {
    text-align: center;
}

.p-5 {
    background-color: #ccc
}

.p-2 {
    background-color: #232
}

.gray {
    background-color: #ddd
}

.card {
    margin: 0.3rem;
}

a {
    cursor: pointer;
}

.text-area{
    font-size: 0.8rem;
}